@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  80% {
    opacity: 0.4; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes growHorizontally {
  0% {
    clip-path: inset(0 100% 0 0); }
  100% {
    clip-path: inset(0 100% 0 100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* this is the root font-size--all rem units are relative to this one. */
  /* 62.5% = 10px if the browser's font-size is 16px */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* padding and borders aren't added to width or height */ }

body {
  background-color: #665c84;
  box-sizing: border-box;
  /* padding and borders aren't added to width or height */
  color: #fbeed7;
  font-family: Comfortaa, sans-serif;
  font-weight: 300;
  line-height: 1.7; }

.logo-heading {
  color: #fbeed7;
  backface-visibility: hidden;
  /* fix for animation shakiness */ }
  .logo-heading--primary {
    font-family: Lobster Two;
    font-size: 8rem; }
  .logo-heading--secondary {
    color: #fbeed7;
    display: block;
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 2rem;
    margin-top: -1.5rem;
    animation: moveInLeft 0.6s ease-in-out; }
    .logo-heading--secondary span {
      color: #ffba5a; }

.btn {
  backface-visibility: hidden;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 3rem; }
  .btn:link, .btn:visited {
    transition: all 0.15s; }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.2rem); }
  .btn:active {
    transform: translateY(-0.1rem); }
  .btn--purple {
    animation: growHorizontally 0.65s;
    border-radius: 10rem;
    color: #fbeed7;
    background-color: #665c84;
    overflow: auto; }
    .btn--purple:active {
      color: #ffba5a; }

.row {
  max-width: 140rem;
  /* 114*font-size */
  margin: 0 auto;
  background-color: #fbeed7;
  color: #000; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    background-color: orange;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 8rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 12rem) / 4); }
  .row .col-2-of-3 {
    width: calc((((100% - 8rem) / 3) * 2) + 4rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 12rem) / 4) * 2 + 4rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 12rem) / 4) * 3 + (4rem * 2)); }

.header {
  background-image: linear-gradient(to right bottom, rgba(255, 186, 90, 0.801), rgba(255, 118, 87, 0.801)), url(../img/marvin-meyer-571072-unsplash.jpg);
  background-position: right;
  /* forces alignment to the specified side */
  background-size: cover;
  /* fit this element according to the viewport width */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10rem), calc(100% - 10rem) 100%, 0 100%);
  height: 80vh;
  max-width: 140rem;
  margin: 0 auto;
  margin-bottom: 4rem; }
  .header__logo-box {
    background-color: #665c84;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), calc(100% - 3rem) 100%, 0 100%);
    display: inline-block;
    padding: 0 3rem 3rem 2.5rem; }
  .header__login-box {
    animation: fadeIn 0.65s ease-in;
    float: right;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem; }
