// COLORS
$color-primary: #665c84;
$color-secondary: #ffba5a;
$color-secondary-dark: #ff7657;
$color-tertiary: #fbeed7;

$color-gray-dark: #7777;
$color-black: #000;

// GRID
$grid-width: 140rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;
