.btn {
  backface-visibility: hidden;
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 3rem;

  &:link,
  &:visited {
    transition: all 0.15s;
  }

  &:hover {
    box-shadow: 0 0.7rem 2rem rgba($color-primary, 0.3);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.1rem 0.5rem rgba($color-primary, 0.3);
    transform: translateY(-0.1rem);
  }

  &--purple {
    animation: growHorizontally 0.5s, fadeIn 1s;
    border-radius: 10rem;
    color: $color-tertiary;
    background-color: $color-primary;

    &:active {
      color: $color-secondary;
    }
  }
}
