.composition {
  position: relative;

  &__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
    position: absolute;
    z-index: 10;
    transition: all 0.25s;
    margin-top: -3rem;

    &--p1 {
      left: 0rem;
      top: 0rem;
    }

    &--p2 {
      right: 10rem;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
