@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growHorizontally {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
