body {
  background-color: $color-primary;
  box-sizing: border-box; /* padding and borders aren't added to width or height */
  color: $color-tertiary;
  font-family: Comfortaa, sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

.logo-heading {
  color: $color-tertiary;
  backface-visibility: hidden; /* fix for animation shakiness */

  &--primary {
    font-family: Lobster Two;
    font-size: 8rem;
  }

  &--secondary {
    color: $color-tertiary;
    display: block;
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 2rem;
    margin-top: -1.5rem;
    animation: moveInLeft 0.6s ease-in-out;

    & span {
      color: $color-secondary;
    }
  }
}

.heading-secondary {
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    lighten($color-primary, 15%),
    darken($color-primary, 5%)
  );
  background-clip: text;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;

  &--decorated {
    &::before {
      color: $color-secondary;
      content: "«";
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 100;
      margin-right: 2rem;
      transform: translateY(-1rem);
    }

    &::after {
      content: "»";
      color: $color-secondary;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 100;
      margin-left: 2rem;
      transform: translateY(-1rem);
    }
  }
}

.heading-tertiary {
  color: $color-primary;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2rem;
  border-bottom: 1px solid $color-secondary;
}

.paragraph {
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: 100;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}
