.u-center-text {
  text-align: center;
}

// MARGIN
.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem;
}
.u-margin-bottom-big {
  margin-bottom: 7rem;
}

// PADDING
.u-padding-top-small {
  padding-top: 4.5rem;
}
.u-padding-top-medium {
  padding-top: 7rem;
}
.u-padding-top-big {
  padding-top: 9rem;
}

.u-padding-left-small {
  padding-left: 4.5rem;
}
.u-padding-left-medium {
  padding-left: 7rem;
}
.u-padding-left-big {
  padding-left: 9rem;
}

.u-padding-right-small {
  padding-right: 4.5rem;
}
.u-padding-right-medium {
  padding-right: 7rem;
}
.u-padding-right-big {
  padding-right: 9rem;
}

.u-padding-bottom-small {
  padding-bottom: 4.5rem;
}
.u-padding-bottom-medium {
  padding-bottom: 7rem;
}
.u-padding-bottom-big {
  padding-bottom: 9rem;
}
