.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 7rem;
}

.u-padding-left-big {
  padding-left: 10rem;
}

.u-padding-right-big {
  padding-right: 10rem;
}
