.section-about {
  background-color: $color-tertiary;
  padding: 8rem 11rem 12rem;
}

.section-features {
  background-color: $color-primary;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba(darken($color-primary, 20%), 0.8)
    ),
    url(../img/annie-spratt-608001-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 14rem 11rem;
}

.section-feature-detailed {
  background-color: $color-primary;
  padding: 8rem 11rem 12rem;
}
